
<% layout('layouts/boilerplate') %>


<div>
        
        <!-- Header -->
        <nav class="navbar-expand header p-1">
            <a href="/home" type="button" class="btn colour radius float-end"><strong>Logout</strong></a>
          <header><h2>Result Management System</h2></header>
        </nav>
  
        <!-- Main -->
        <main>
          <div class="container-fluid">
            <div class="row">
                <div class="col-12 height">
                  <br/>
                  <!-- <a href="/records">Back</a> -->
                    <div class="row offset-1">
                        <div class="col-8">
                            <br/>
                            <h4>Add New Result</h4>
                            <br/>
                            <form id="myform" action="/students/<%=student.RollNumber%>?_method=PATCH" method="POST">
                                <div class="row g-3 align-items-center">

                                    <div class="row py-2">
                                        <div class="col-3">
                                            <label class="control-label" for="rollNumber">Roll No.</label>
                                        </div>
                                        <div class="col-9">
                                            <input type="text" id="rollNumber" placeholder="Enter Student's Roll Number" class="form-control" name="student[RollNumber]" value="<%= student.RollNumber%>" required/>
                                        </div>
                                    </div>
                                    
                                    <div class="row py-2">
                                        <div class="col-3">
                                            <label class="control-label" for="name">Name</label>
                                        </div>
                                        <div class="col-9">
                                            <input type="text" placeholder="Enter Student's Full Name" class="form-control" id="Name" name="student[Name]" value="<%= student.Name%>" required>
                                        </div>
                                    </div>

                                    <div class="row py-2">
                                        <div class="col-3">
                                            <label class="control-label" for="dob">Date Of Birth</label>
                                        </div>
                                        <div class="col-9">
                                            <input type="date" placeholder="Enter Student's Date Of Birth" class="form-control" id="dob" name="student[Dob]" value="<%= student.Dob%>" required>
                                        </div>
                                    </div>

                                    <div class="row py-2">
                                        <div class="col-3">
                                            <label class="control-label" for="score">Score</label>
                                        </div>
                                        <div class="col-9">
                                            <input type="number" placeholder="Enter Student's Score" class="form-control" id="score" name="student[Score]" value="<%= student.Score%>" required>
                                        </div>
                                    </div>

                                    <div class="row py-5">
                                        <div class="col-6 form-check">
                                          <button type="submit" class="btn btn-primary size radius click" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to Submit the Form">Submit</button>
                                        </div>
                                        <div class="col-2 form-check">
                                          <button type="button" class="btn btn-outline-primary size radius" onclick="resetform()" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to clear the form">Clear</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
              </div>
          </div>
        </main>

        <!-- Footer -->
        <div class="row">
            <footer class="footer fixed-bottom p-1 Copyright">Copyright &copy; Result Management System <span id="currentYear"></span></footer>
        </div>
    </div>

    <script>

        function resetform()
        {
            document.getElementById("myform").reset();
        }

        var date = new Date();
        var year = date.getFullYear();
        document.getElementById("currentYear").innerHTML = year;

    </script>